.dog-card-list {
  grid-gap: 1rem;
  justify-content: space-evenly;
}

.header {
  background: linear-gradient(90deg, #618da8, #c1d3d9);
  padding: 1rem;
}

.navigation-bar {
  text-align: end;
  @media (max-width: 400px) {
    text-align: center;
  }

  ul {
    padding-left: 0;
  }

  .nav-item {
    display: inline-block;
    margin-right: 0.5rem;
    a {
      color: black;
      @media (max-width: 400px) {
        text-decoration: none;
      }
    }
  }
}

.page-description {
  flex: 1;

  .description-title {
    @media (max-width: 400px) {
      text-align: center;
    }
  }
}

.header-title {
  color: white;
  @media (max-width: 400px) {
    text-align: center;
  }
}
